django==4.2.1
psycopg2-binary==2.9.6
dramatiq==1.14.2
django-dramatiq==0.11.2
django-dotenv==1.4.2
redis==4.5.5
boto3==1.26.142
django-extensions==3.2.1

prometheus-client==0.17.0
sqlparse==0.4.4
s3transfer==0.6.1
jmespath==1.0.1
botocore==1.29.142
urllib3==1.26.16
python_dateutil==2.8.2
six==1.16.0
